
<main class="container">
  <div class="row">
    <div class="col-3" id="optionsCol">
      <div class="card width: 100%">
        <div class="card-header text-center">Parámetros</div>
        <div class="card-body width: 100%">
          <ul class="list-group list-group-flush">
            <li class="list-group-item p-1">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Distribución</label>
                </div>
                <select class="custom-select form-control-sm" id="inputGroupSelect01" [(ngModel)]="fDistribution" (ngModelChange)="changeDistribution()" ngbTooltip="toltip">
                  <option [ngValue]="item.f" *ngFor="let item of FuncsPopulates" >{{item.nfo}}</option>
                </select>
              </div>
            </li>
            <li class="list-group-item p-1">
              <div class="input-group input-group-sm" ngbTooltip="Porcentaje de inmunes inicialmente">
                <div class="input-group-prepend"><span class="input-group-text">Inmunes</span></div>
                <input type="number" min="0" max="90" step="5" [ngModel]="initialInmunes * 100" (ngModelChange)="initialInmunes=$event / 100">
                <div class="input-group-append"><span class="input-group-text">%</span></div>
              </div>
            </li>
            <li class="list-group-item p-1">
              <button class="btn btn-sm btn-outline-primary" (click)="open(infectionsParamsmodal)">Contagio...</button>
            </li>
            <li class="list-group-item p-1">
              <button class="btn btn-sm btn-outline-primary" (click)="open(evolucionParamsmodal)">Evolucion...</button>
            </li>
            <li class="list-group-item p-1">
              <button class="btn btn-sm btn-outline-primary" (click)="open(desplazamientosParamsmodal)">Desplazamiento...</button>
            </li>
          </ul>
          <button type="button" class="btn btn-block btn-primary" ngbTooltip="Borra y vuelve a emprezar" (click)="setupHumans()">Reiniciar</button>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col" id="containerP5"></div>
      </div>
      <div class="row">
        <div class="col">
          <ul class="list-inline">
            <li class="list-inline-item"><span class="badge badge-pill badge-normal">Normales</span></li>
            <li class="list-inline-item"><span class="badge badge-pill badge-warning" ngbTooltip="Contagiados pero no contagiosos">Incubando</span></li>
            <li class="list-inline-item"><span class="badge badge-pill badge-asintomatic" ngbTooltip="Pueden contagiar a los demás, aunque no muestra síntomas">Infecciosos asintomaticos</span></li>
            <li class="list-inline-item"><span class="badge badge-pill badge-danger" ngbTooltip="Pueden contagiar a los demás y muestra claros síntomas">sintomaticos</span></li>
            <li class="list-inline-item"><span class="badge badge-pill badge-success" ngbTooltip="Pasaron la infección y/o son inmunes">Inmunes</span></li>
            <li class="list-inline-item"><span class="badge badge-pill badge-death" ngbTooltip="Fallecidos">Fallecidos</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-10">
      <div class="row">
        <canvas id="canvaschart" height="100">{{chart}}</canvas>
      </div>
    </div>
    <div class="col-2">
      <div class="row">
        <div class="col text-right p-0">
          <button type="button" class="btn btn-sm  btn-primary" ngbTooltip="1 único paso" (click)="oneStep()">
            <fa-icon [icon]="faStepForward"></fa-icon>
          </button>
        </div>
        <div class="col text-left p-0">
          <button type="button" class="btn btn-sm btn-secondary" ngbTooltip="5 pasos seguidos" (click)="multStep(5)">
            <fa-icon [icon]="faForward"></fa-icon>
          </button>
        </div>
        <div class="col ">    
          <span class="badge badge-info" ngbTooltip="Dia actual">{{currentDay}}</span>      
        </div>
      </div>
      <dl class="row">
        <dt class="col-8 dt-label" ngbTooltip="Distancia media actual">Distancia</dt>
        <dd class="col-4 dd-value"><span class="badge badge-info dt-value">{{mediumDistance | number:'0.0-1' }}</span></dd>
        <dt class="col-8 dt-label" ngbTooltip="Infectados nuevos">Variación</dt><dd class="col-4 dd-value"><span class="badge badge-danger dt-value">{{derivated1 | number:'1.2-2'}}</span></dd>
        <dt class="col-8 dt-label" ngbTooltip="Crecimiento en los nuevos infectados (2 derivada)">Crecimiento</dt><dd class="col-4 dd-value"><span class="badge badge-danger dt-value">{{derivated2 | number:'1.2-2'}}</span></dd>
        <dt class="col-8 dt-label" ngbTooltip="Porcentaje de infectados (contagiosos o no)">infectados</dt>
        <dd class="col-4 dd-value"><span class="badge badge-danger ">{{infectados/populationNumber | percent}}</span></dd>
        <dt class="col-8 dt-label" ngbTooltip="Porcentaje de contagiosos">infecciosos</dt>
        <dd class="col-4 dd-value"><span class="badge badge-danger ">{{infecciosos/populationNumber | percent}}</span></dd>        
        <dt class="col-8 dt-label" ngbTooltip="Porcentaje de afectados">afectados</dt>
        <dd class="col-4 dd-value"><span class="badge badge-danger">{{afectados/populationNumber | percent}}</span></dd>
        <dt class="col-8 dt-label" ngbTooltip="Porcentaje de fallecidos">Fallecidos</dt>
        <dd class="col-4 dd-value"><span class="badge badge-death">{{death/afectados | percent}}</span></dd>
        <dt class="col-8 dt-label" ngbTooltip="Porcentaje de inmunes">Inmunes</dt>
        <dd class="col-4 dd-value"><span class="badge badge-success">{{inmunes/populationNumber | percent}}</span></dd>
      </dl>
    </div>
  </div>
</main>
<footer class="bg-dark text-white mt-4">
  <ul class="list-inline">
    <li class="list-inline-item"><span class="badge badge-pill badge-success">{{version}}</span></li>
    <li class="list-inline-item"><span class="badge badge-pill badge-success">
        <fa-icon [icon]="faCoffee"></fa-icon> Basilio Alvarez
      </span></li>
  </ul>
</footer>
<ng-template #infectionsParamsmodal let-modal >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Parámetros contagio</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="p-0">
      <li class="list-group-item p-1">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend"><span class="input-group-text">Min distancia</span></div>
          <input type="number" min="0" max="16" step="0.25" [ngModel]="infectOp.distanceBase" (ngModelChange)="setistanceBase($event)">
          <div class="input-group-append"><span class="input-group-text">m</span></div>
        </div>
      </li>
      <li class="list-group-item p-1">
        <div class="input-group input-group-sm" ngbTooltip="Probabilidad contagio minima distancia">
          <div class="input-group-prepend"><span class="input-group-text">Prob contagio</span></div>
          <input class="w-20" [ngModel]="infectOp.contagiousProb * 100" (ngModelChange)="infectOp.contagiousProb=$event / 100" type="number" min="0" max="100" step="5">
          <div class="input-group-append"><span class="input-group-text">%</span></div>
        </div>
      </li>      
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>

<ng-template #evolucionParamsmodal let-modal >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Evolución enfermedad</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="p-0">      
      <li class="list-group-item  p-1">
        <div class="input-group input-group-sm" ngbTooltip="Periodo medio incubacion en días.">
          <div class="input-group-prepend"><span class="input-group-text">Incubación</span></div>
          <input type="number" min="1" max="6" step="0.5" [(ngModel)]="infectOp.humanData.incubation.mean">
          <div class="input-group-append"><span class="input-group-text">días</span>
          </div>
        </div>
      </li>
      <li class="list-group-item  p-1">
        <div class="input-group input-group-sm" ngbTooltip="Los que son asintomáticos">
          <div class="input-group-prepend"><span class="input-group-text">Asintomaticos</span></div>
          <input type="number" min="1" max="99" step="5" [ngModel]="infectOp.humanData.asintomatic * 100" (ngModelChange)="infectOp.humanData.asintomatic=$event / 100">
          <div class="input-group-append"><span class="input-group-text">%</span></div>
        </div>
      </li>
      <li class="list-group-item  p-1">
        <div class="input-group input-group-sm" ngbTooltip="Periodo medio infeccioso en días después incubación">
          <div class="input-group-prepend"><span class="input-group-text">Infeccioso</span></div>
          <input type="number" min="1" max="16" step="0.5" [(ngModel)]="infectOp.humanData.infectionPeriod.mean">
          <div class="input-group-append"><span class="input-group-text">días</span></div>
        </div>
      </li>
      <li class="list-group-item  p-1">
        <div class="input-group input-group-sm" ngbTooltip="Cuantos mueren">
          <div class="input-group-prepend"><span class="input-group-text">Mortalidad</span></div>
          <input type="number" min="0" max="90" step="5" [ngModel]="infectOp.humanData.lethality * 100" (ngModelChange)="infectOp.humanData.lethality=$event / 100">
          <div class="input-group-append"><span class="input-group-text">%</span></div>
        </div>
      </li>
      <li class="list-group-item  p-1">
        <div class="input-group input-group-sm" ngbTooltip="Cuantos ganan inmunidad después de pasar enfermedad y no morir">
          <div class="input-group-prepend"><span class="input-group-text">Inmunidad</span></div>
          <input type="number" min="0" max="90" step="5" [ngModel]="infectOp.humanData.immunity * 100" (ngModelChange)="infectOp.humanData.immunity=$event / 100">
          <div class="input-group-append"><span class="input-group-text">%</span></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>

<ng-template #desplazamientosParamsmodal let-modal >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Desplazamientos</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="p-0">      
      <li class="list-group-item  p-1">
        <div class="input-group input-group-sm" ngbTooltip="Porcentaje que se mueven">
          <div class="input-group-prepend"><span class="input-group-text">Desplazamientos</span></div>
          <input type="number" min="1" max="90" step="0.5"  [ngModel]="opt.moving" (ngModelChange)="opt.moving=$event / 100">
          <div class="input-group-append"><span class="input-group-text">%</span>
          </div>
        </div>
      </li>
      <li class="list-group-item  p-1">
        <div class="input-group input-group-sm" ngbTooltip="Cuantas posiciones diferentes">
          <div class="input-group-prepend"><span class="input-group-text">Posiciones</span></div>
          <input type="number" min="0" max="5" step="1" [(ngModel)]="opt.diferentPositions">
          <div class="input-group-append"><span class="input-group-text">lugares</span></div>
        </div>
      </li>     
      <li class="list-group-item  p-1">
        <div class="input-group input-group-sm" ngbTooltip="Distancia promedio de alejamiento">
          <div class="input-group-prepend"><span class="input-group-text">Distancia</span></div>
          <input type="number" min="10" max="300" step="10" [(ngModel)]="opt.distance">
          <div class="input-group-append"><span class="input-group-text">m</span></div>
        </div>
      </li>     
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>