$deadcolor:DimGray;
$asintomaticColor: plum;
$normalColor:	lightgray;

$theme-colors: (
  "death": $deadcolor,
  "asintomatic": $asintomaticColor,
  "normal": $normalColor
);

@import "node_modules/bootstrap/scss/bootstrap";

.dt-label{
  text-align: right;
  @extend .font-weight-normal;
}

.dd-value{
  text-align: left;
  padding: 2px;
}

/* .badge-deadth {
    color: #fff;
    background-color: $deadcolor;
}; */

/*dt  {  
  font-weight: $font-weight-normal; 
}*/



